$transition: all 1s;

/* Global */
*,*::befo re, *::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1,7;
    text-align: center;
    color: white;
}

.navigation {
    padding: 12px 0;
    font-size: 16px;
}

.navigation ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navigation li {
    margin-right: 36px;
} 

.navigation li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.navbar-dark .navbar-brand {
    color: #ffc107;
    font-weight: 700;
}

.splash {
    height: 100vh;
    position: relative;
    background-image: url("https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 96px;
    text-align: center;
}

.splash-inner {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-title {
    font-size: 25px;
}

.page-subtitle {
    margin: 24px 0;
    font-weight: 700;
    font-size: 36px;
}

header {
    text-align: center;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn-one {
    border-color: gold;
    color: white;
    background-image: linear-gradient(90deg, gold 100%, transparent 50%);
}

.btn:hover {
    background-position: 0 100%;
    color: white;
}

.btn-one:hover {
    color: white;
}

.container {
    max-width: 1200px;
    color:black;
    font-size: 16px;
}

.container h1 {
    font-weight: 700;
    font-size: 28px;
}

.container h2 {
    color: gray;
    font-size: 16px;
}

.box h1 {
    font-size: 24px;
}

.box p {
    color: gray;
    font-size: 16px;
}

.box i {
    color: gold;
    font-size: 36px;
    padding-bottom: 20px;
}
 
.portfolio {
    padding: 50px;
    background-color: #dee2e6;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.portfolio h2 {
    padding-bottom: 96px;
}

.card {
    padding: auto;
    margin: 20px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.portfolio .cards {
    padding-bottom: 30px;
}

footer i {
    font-size: 30px;
}

footer p {
    color: black;
    position: relative;
    top: 50%;
}

footer a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: gray;
    color: white;
    border-radius: 50%;
    display: inline-block;
}

footer li {
    font-size: 0;
    display: inline; 
}